
<h2>Welcome {{user.name}}!</h2>

<div class="row mb-4 post">
      <div class="col-md-7">
    <button id="add-post">Create Post</button>
  </div>
  </div>
  
</div>

<!-- Loop over each object in the projects array -->
{{#each user.blogposts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}

    <form class="form post-form">
      <div class="form-group">
        <label for="new-post">Create a Blog Post:</label>
        <input class="form-input" type="text" id="new-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit Post</button>
      </div>
    </form>


      <script src='/js/post.js'></script>
