<div class="postData" data-post-id={{post.id}}>
  <div id="post-static">
    {{#each posts as |post| }}
<div class="row mb-6 post" id="post-list">
  <div class="col-md-10">
    <h3>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h3>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-12">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}