<!-- Loop over each object in the projects array -->
<div class="postData" data-post-id={{post.id}}>
  <div id="post-static">
    <div class="row mb-4 post">
      <div class="col-md-10">
        <h2>
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->
          <a href="/posts/{{post.id}}" id="post-title">{{post.title}}</a>
        </h2>
        <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
      </div>
      <div class="col-md-12">
        <p id="post-content">
          {{post.content}}
        </p>
      </div>
      <div class="options">
        <button class="btn btn-primary" id="btn-update-post">Update Post</button>
        <button class="btn btn-primary" id="btn-delete-post">Delete Post</button>
      </div>
    </div>
    <div class="row mb-12 comment-section">
      <div class="col-md-12">

        <h4>Comments:</h4>
        <ul class="comments"></ul>
        {{#each post.comments as |comment| }}
        <li class="comment" data-comment-id={{comment.id}}>
          <div class="comment-content">{{comment.content}}</div>
          <div class="comment-data">{{comment.user.name}}, {{format_date comment.date_created}} </div>
        </li>
        {{/each}}
        </ul>
        <form class="form comment-form">
          <div class="form-group">
            <label for="new-comment">Add a comment:</label>
            <input class="form-input" type="text" id="new-comment" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="post-update" class="hidden">
    <h2>Update your Blog Post:</h2>
    <form id="new-post-form" class="form post-form">
      <div class="form-group">
        <label for="new-post-title">New Title</label>
        <input class="form-input" type="text" id="update-post-title" />
      </div>
      <div class="form-group">
        <label for="new-post-content">new Content:</label>
        <input class="form-input" type="text" id="update-post-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="btn-update-submit">Submit Updates</button>
      </div>
    </form>

  </div>
</div>

<script src='/js/post.js'></script>